.carusel_wrapper{
    width: 100%;
    height: 400px;
    display:  flex;
}

.listbox{
    overflow: hidden;
    position: relative;
    list-style: none;
    width: 100%;
    height: 100%;
    .carusel_item{
        position: absolute;
        visibility: hidden;
        left:100%;
        width: 100%;
        height: 100%;
        transition: all 1s;
    }
    .active {
        visibility: visible;
        left: 0;
    }
    .disactive{
        left: -100%;
    }
}

